{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% set active_page = "contact" -%}
{% block body %}
<form class="form-subscribe" method="post" action=".">
	{{ form.hidden_tag() }}
	{{ form.name.label }} {{ form.name(class="input-block-level", autofocus="true", required="true", placeholder=form.name.label.text) }}
    {{ form.email.label }} {{ form.email(class="input-block-level", required="true", placeholder=form.email.label.text) }}
    {{ form.message(class="input-block-level", required="true", rows="10") }}
	{{ form.recaptcha()|safe }}
	<input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}